#navbar {
  height: 80px;
  background-color: black;
  z-index: 100;
}
#banner {
  height: 660px;
  background: linear-gradient(#f037a5 -60%,#fae62d 140%);
  position: relative;
  overflow: hidden;
  z-index: 1;
}
#navbar .spotify-logo {
  width: 132px;
  position: absolute;
  top: 20px;
  left: 20%;
}
#navbar a {
  color: white;
  text-decoration: none;
}
#navbar ul li {
  display: inline;
  margin: 15px;
}
ul {
  position: absolute;
  top: 15px;
  right: 20%;
  font-size: 16px;
  font-weight: 700;
}
#banner img {
  width: 80%;
  position: absolute;
  left: 15%;
  top: -85%;
  z-index: 2;
}
#banner #title {
  color: white;
  position: relative;
  text-align: center;
  top: 200px;
  font-size: 80px;
  font-weight: 900px;
  letter-spacing: -0.04rem;
  z-index: 3;
}
.btn-free {
  background-color: #1db954;
  color: white;
  letter-spacing: 2px;
  border-radius: 500px;
  padding: 18px 40px 13px;
  border: 2px solid rgba(50,205,50,.6);
  text-transform: uppercase;
  position: absolute;
  left: 690px;
  top: 380px;
  font-size: 14px;
  font-weight: 700px;
}
.btn-free:hover {
  cursor: pointer;
  background-color: #1ed760;
  transition-duration: .5s;
}